<!DOCTYPE html>
<html class="apply-bg">
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/default.css">
      <title>{{ page.title }}</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <script src="scripts/highlight-logo.js" defer></script>
      <script src="scripts/slide-show.js" defer></script>
    </head>
    <body>
    <div>
      <div class="site-header">
        <a href={{site.base_url}}>
          <img src="/images/my_avi.jpg" width="64" height="64"></img><h2>Homepage</h2>
        </a>
        <a href="https://github.com/NickDriscoll">
          <img src="/images/github_icon.png" width="64" height="64"></img><h2>My Github</h2>
        </a>
      </div>
      <h2>{{ page.title }}</h2>
      {{ page.content }}
    </div>
  </body>
</html>
